<div class="app-wrapper">
  <app-header></app-header>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="splash-base" *ngIf="(state !== 'show') || splashState === 'change'">
  <div class="loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<div class="splash-wrapper" [@splash]="splashState" (@splash.done)="onDoneSplash($event)">
  <div class="splash"></div>
  <div class="splash splash-2"></div>
  <div class="splash splash-3"></div>
  <div class="splash splash-4"></div>
</div>
