<div class="player-content">
  <iframe width="100%"
          src="https://www.youtube.com/embed/live_stream?channel=UCg5b4A14CVzpk8wrhj0d0fA&rel=0&autoplay=1"
          frameborder="0" allowfullscreen
  ></iframe>
  <h3 class="player-heading">Channel 1</h3>
</div>

<div class="player-content">
  <iframe width="100%"
          src="https://www.youtube.com/embed/live_stream?channel=UCuQqLqggxeTxEyyru4L2P5Q&rel=0&autoplay=1"
          frameborder="0" allowfullscreen
  ></iframe>
  <h3 class="player-heading">Channel 2</h3>
</div>
