<footer class="footer">
  <nav class="navigation">
    <a class="sns-link" href="https://www.instagram.com/gamoyon_fes" target="_blank" rel="noreferrer">
      <i class="icomoon-instagram-brands"></i>
    </a>
    <a class="sns-link" href="https://twitter.com/gamoyon_fes" target="_blank" rel="noreferrer">
      <i class="icomoon-twitter-brands"></i>
    </a>
    <a class="sns-link" href="https://www.facebook.com/gamoyon.fes/" target="_blank" rel="noreferrer">
      <i class="icomoon-facebook-brands"></i>
    </a>
    <a class="sns-link" href="https://www.youtube.com/channel/UCg5b4A14CVzpk8wrhj0d0fA" target="_blank"
       rel="noreferrer">
      <i class="icomoon-youtube-brands"></i>
    </a>
    <a class="archive-link" href="/2019" target="_blank" rel="noreferrer">
      がもよんフェス2019
    </a>
  </nav>
  <p class="copy">
    <span>©2020-2021 がもよんフェス実行委員会</span>
  </p>
</footer>
