@import "variables";
@import "~node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 80px;
  padding: 8px;
  background-color: $footer-color;
  color: #fff;
  text-align: center;
  font-size: 16px;
  .navigation {
    .sns-link {
      display: inline-block;
      color: #fff;
      text-decoration: none;
      & + .sns-link {
        margin-left: 16px;
      }
    }
  }
  .copy {
    margin: 0;
    padding: 0;
    font-size: 11px;
    letter-spacing: .05em;
    color: rgba(255, 255, 255, 0.8);
  }
  .archive-link {
    display: inline-block;
    margin-left: 24px;
    color: #fff;
    font-size: 13px;
    font-family: 'mamelon', $font-family-base;
  }
}
